.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace
}

h1 {
  font-size: 6vw;
}

.quote-container {
  border: 1px solid black;
  height: 20vh;
  width: 60vw;
  font-size: 3vh;
  font-family: 'Lobster Two', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-container {
  margin: 2vh 0 2vh 15vw;
  height: 5vh;
  width: 30vw;
  border: 1px solid black;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
}

.quotation {
  width: 80%;
}